<div id="allex-addons-container"></div>

<script type="application/javascript">
    jQuery(function ($) {
        var addons = [];

        // Build the list of addons. Twig can't just output it.
        {% for addon in addons %}
        addons.push(
            {
                'slug': '{{ addon.slug }}',
                'title': '{{ addon.title }}',
                'description': '{{ addon.description }}',
                'iconClass': '{{ addon.icon_class }}',
                'isInstalled': {{ addon.is_installed ? 'true' : 'false' }},
                'isActive': {{ addon.is_active ? 'true' : 'false' }},
                'licenseKey': '{{ addon.license_key }}',
                'licenseStatus': '{{ addon.license_status }}',
                'eddId': '{{ addon.edd_id }}',
            }
        );
        {% endfor %}

        // Renders the React component.
        ReactDOM.render(
            React.createElement(
                AllexAddonsContainer,
                {
                    pluginName: '{{ plugin_name }}',
                    addonsCount: '{{ count_addons }}',
                    browseMoreUrl: '{{ browse_more_url }}',
                    addons: addons,
                    nonce: '{{ nonce }}',
                }
            ),
            document.getElementById('allex-addons-container')
        );
    });
</script>
