<div id="allex_subscription_ad">
    <img src="{{ image_src }}" />

    <div class="allex_subscription_ad_content">

        <div class="allex_subscription_ad_save">{{ text.save }}</div>
        <div class="allex_subscription_ad_discount">{{ text.discount }}%</div>
        <div class="allex_subscription_ad_item">{{ text.item}}</div>

        <a hread="{{ link }}" class="allex_subscription_ad_link">
            <button class="allex_subscription_ad_button">{{ text.getit }}</button>
        </a>
    </div>
</div>
